<!DOCTYPE HTML>
<html>
<%- partial('components/head') %>

<body>
<div class="blog">
  <div class="content">

    <%- partial('components/header') %>

        <% if (page.path == "index.html"){ %>
        <div class="container ">
          <div class="row">
            <main class="site-main posts-loop    col-lg-8 col-lg-offset-1
                    col-md-8 col-md-offset-1
                    col-sm-12
                    col-xs-12">
            <%- body %>
            </main>
            <div class="sidebar
                    col-lg-3 col-lg-offset-0
                    col-md-3 col-md-offset-0
                    col-sm-12
                    col-xs-12
                    sidebar-container
                ">
                <%- partial('components/sidebar') %>
            </div>
          </div>
        </div>
        <% } else { %>
          <div class="container ">
          <div class="row">
            <main class="site-main posts-loop">
            <%- body %>
            </main>
          </div>
        </div>
       <% } %>





    <%- partial('components/footer') %>
    <%- partial('components/googleanalytics') %>
  </div>

</div>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="<%- config.root %>js/index.js"></script>

</body>
</html>